@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 @tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

.bg-img{
    background-image: url('./assets/buffalo.png');
}
.bg-about{
    background-image: url('https://images.pexels.com/photos/1337825/pexels-photo-1337825.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.bg-menu{
    background-image: url("../src/assets/menupic.png");
}